.panel{
    margin-bottom: 0px;
    border-radius: 5px 5px 0 0;
}
.userList {
    font-family: 'Montserrat', sans-serif;
}
.messageList {
    font-family: 'Montserrat', sans-serif;
}
.rounded-top-right-20 {
    border-top-right-radius: 20px!important;
  }
  
  .rounded-top-left-20 {
    border-top-left-radius: 20px!important;
  }
  .rounded-bottom-20 {
    border-bottom-left-radius: 20px!important;
    border-bottom-right-radius: 20px!important;
  }